html
  head
    title Welcome
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="http://localhost:7071/main.js")
  body
    block content